# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.pio/
.vscode/
platformio/platforms/ststm32/appveyor.yml
platformio/platforms/ststm32/boards
platformio/platforms/ststm32/builder
platformio/platforms/ststm32/examples
platformio/platforms/ststm32/ldscripts
platformio/platforms/ststm32/LICENSE
platformio/platforms/ststm32/misc
platformio/platforms/ststm32/platform.json
platformio/platforms/ststm32/platform.py
platformio/platforms/ststm32/platform.pyc
platformio/platforms/ststm32/README.md
platformio/platforms/ststm32/tests
add
platformio/packages/framework-mbed
platformio/packages/toolchain-gccarmnoneeabi
platformio/packages/tool-dfuutil
platformio/packages/tool-openocd
platformio/packages/tool-scons
platformio/packages/tool-stm32duino
platformio/packages/tool-unity
platformio/platforms/
platformio/.cache/
platformio/packages/framework-mbed@5.51304.190826
